.nav-item ::deep a {
    display: flex;
    align-items: center;
    height: 3rem;
    line-height: 3rem;
    padding: 0 0.5rem;
    text-decoration: none;
}

.nav-item ::deep a .oi {
    margin-right: 0.5rem;
    vertical-align: middle;
}